@import 'supports/_font-face.styl';
@import 'supports/_vars.styl';
@import 'supports/_mixins.styl';
@import "supports/_default.styl";
@import 'components/_footer.styl';
@import 'components/_header.styl';
@import 'pages/supports/_vars.styl';
@import '_media.styl';
@import 'pages/_main.styl';
@import 'pages/_media.styl';
@import 'pages/_ui.styl';
@import '_popups.styl';
@import 'pages/_markets-page.styl';
@import 'pages/_help-page.styl';
@import 'pages/_terms-page.styl';
@import 'pages/_privacy-page.styl';
@import 'pages/_pages-info.styl';
@import 'pages/_page-fees.styl';
@import 'pages/_page-fees-new.styl';
@import 'pages/_cryptocurrency-page.styl';
@import 'pages/_crypto-page.styl';
@import 'pages/_policy-page.styl';
@import 'pages/_money-policy-page.styl';
@import 'pages/_refer-page.styl';
@import 'pages/_exchange-page.styl';

