$default-font = "Gotham Pro", sans-serif
$black = #212121
$white = #ffffff
$grey = #6e7073
$green = #11d62e
$darkblue = #223060
$red = #ff6053
$blue = #04c5ce
$grey2 = #cbcbcc
$blue2 = #11c8d0
$yellow = #ffc64d
$white2 = #f0f4f7
$darkGrey = #2e3035
$darkBlue2 = #1d2743
