$white = #fff
$black = #000
$accent = #319BE2
$title-color = #fff
$text-color = #fff
$link-color = #fff
$dark-blue = #090b2f

$gray = rgba(#ffffff, .5)
$blue = #319BE2
$dark-blue = #1F204E
$dark-blue-2 = #24265A
$dark-blue-bg = #090B2F
$blue-active = rgba(#319BE2, .3)
$red = #FF5154
$green = #06D49C
$yellow = #FFC43F

$min-width = 320px
$max-width = 1200px
$base-bg = #FFF
$base-font-size = 15px
$base-line-height = 25px
$geometria = 'Geometria', sans-serif
$base-font-family = 'Geometria', sans-serif
$custom-font-family = 'Geometria', sans-serif
$default-transition = all 0.2s ease-out
$trans = all 0.2s ease-out

$font-size-h1 = 36px
$line-height-h1 = 42px
$font-size-h2 = 32px
$line-height-h2 = 37px
$font-size-h3 = 28px
$line-height-h3 = 32px
