$white = #ffffff
$black = #000000
$orange = #FF763F
$accent = $blue
$base-bg = $dark-blue

$white = #ffffff
$gray = #48497d
$blue = #319BE2
$blue-hover = #1c81c4
$dark-blue = #1F204E
$dark-blue-2 = #24265A
$dark-blue-bg = #090B2F
$blue-active = rgba(#319BE2, .3)
$red = #FF5154
$green = #06D49C
$yellow = #FFC43F

$min-width = 320px
$max-width = 1200px
$base-font-family = 'Geometria', sans-serif
$custom-font-family = 'Montserrat', sans-serif
$default-transition = all 0.25s ease-out
